.node path.success {
  fill: #729FCF;
}

.node path.unstable {
  fill: #FCE94F;
}

.node path.failure {
  fill: #EF2929;
}

.node path.aborted {
  fill: #ABABAB;
}

.node path.pending {
  fill: #ABABAB;
}

.node circle {
  fill: white;
}

.node {
  font: 15px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
